In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('toy - toy.csv')

In [4]:
data.head(3)

  opponent      venue   outlook  toss result
0      kkr  bangalore  overcast  lost    won
1       mi     mumbai     sunny   won    won
2      rcb     mumbai  overcast   won    won

# {"kkr", "chennai","overcast","lost"}

In [5]:
pd.crosstab(data['opponent'],data['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [6]:
pykkr=8/17
pnkkr=2/8

In [7]:
pd.crosstab(data['venue'],data['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [8]:
pyche=6/17
pnche=4/8

In [9]:
pd.crosstab(data['outlook'],data['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [17]:
pnove=3/8
pyove=9/17

In [11]:
pd.crosstab(data['toss'],data['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [20]:
pylost=6/17
pnlost=0

In [21]:
data['result'].value_counts()

won     17
lost     8
Name: result, dtype: int64

In [22]:
py=17/25
pn=8/25

In [23]:
#For winning
w=py*pylost*pyove*pyche*pykkr
w

0.021103195603500918

In [24]:
#For Loosing
n=pn*pnlost*pnove*pnche*pnkkr
n

0.0

# Hence,the team won't loose the match.